body {
  margin: 0;
  overflow: hidden;
}

.form {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.form__input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
}

.form__button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  text-transform: uppercase;
  background: #6d8ef3;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
}

.hidden {
  display: none;
}

.world {
	margin: 50px auto;
	position: relative;
}

.map {
	position: absolute;
}

/* for test */
.collision-101 {
  background: #0f0;
}
/* for test */

.map:after {
  content: "";
  display: block;
  background: url("../img/126.png");
  width: 3000px;
  height: 3000px;
  position: absolute;
  top: -1000px;
  left: -1000px;
  z-index: -2;
  background-size: 50px;
}

.map > div {
  width: inherit;
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: absolute;
}

.cell {
	width: 50px;
	height: 50px;
  z-index: -1;
  background-size: 100%;
  border: 1px solid;
  box-sizing: border-box;
}

.surface-100 {
	background-image: url("../img/100.png");
}

.surface-101 {
	background-image: url("../img/101.png");
}

.surface-102 {
	background-image: url("../img/102.png");
}

.surface-103 {
	background-image: url("../img/103.png");
}

.surface-104 {
	background-image: url("../img/104.png");
}

.surface-105 {
	background-image: url("../img/105.png");
}

.surface-106 {
	background-image: url("../img/106.png");
}

.surface-107 {
	background-image: url("../img/107.png");
}

.surface-108 {
	background-image: url("../img/108.png");
}

.surface-109 {
	background-image: url("../img/109.png");
}

.surface-110 {
	background-image: url("../img/110.png");
}

.surface-111 {
	background-image: url("../img/111.png");
}

.surface-112 {
	background-image: url("../img/112.png");
}

.surface-113 {
	background-image: url("../img/113.png");
}

.surface-114 {
	background-image: url("../img/114.png");
}

.surface-115 {
	background-image: url("../img/115.png");
}

.surface-116 {
	background-image: url("../img/116.png");
}

.surface-117 {
	background-image: url("../img/117.png");
}

.surface-118 {
	background-image: url("../img/118.png");
}

.surface-119 {
	background-image: url("../img/119.png");
}

.surface-120 {
	background-image: url("../img/120.png");
}

.surface-121 {
	background-image: url("../img/121.png");
}

.surface-122 {
	background-image: url("../img/122.png");
}

.surface-123 {
	background-image: url("../img/123.png");
}

.surface-124 {
	background-image: url("../img/124.png");
}

.surface-125 {
	background-image: url("../img/125.png");
}

.surface-126 {
	background-image: url("../img/126.png");
}

.surface-127 {
	background-image: url("../img/127.png");
}

.surface-128 {
	background-image: url("../img/128.png");
}

.surface-129 {
	background-image: url("../img/129.png");
}

.surface-130 {
	background-image: url("../img/130.png");
}

.surface-131 {
	background-image: url("../img/131.png");
}

.surface-132 {
	background-image: url("../img/132.png");
}

.surface-133 {
	background-image: url("../img/133.png");
}

.surface-134 {
	background-image: url("../img/134.png");
}

.surface-135 {
	background-image: url("../img/135.png");
}

.surface-136 {
	background-image: url("../img/136.png");
}

.surface-137 {
	background-image: url("../img/137.png");
}

.surface-138 {
	background-image: url("../img/138.png");
}

.surface-139 {
	background-image: url("../img/139.png");
}

.surface-140 {
	background-image: url("../img/140.png");
}

.tree-201 {
	background-image: url("../img/201.png");
}

.tree-202 {
	background-image: url("../img/202.png");
}

.tree-203 {
	background-image: url("../img/203.png");
}

.tree-204 {
	background-image: url("../img/204.png");
}

.tree-205 {
	background-image: url("../img/205.png");
}

.tree-206 {
	background-image: url("../img/206.png");
}

.tree-207 {
	background-image: url("../img/207.png");
}

.tree-208 {
	background-image: url("../img/208.png");
}

.tree-209 {
	background-image: url("../img/209.png");
}

.tree-210 {
	background-image: url("../img/210.png");
}

.tree-211 {
	background-image: url("../img/211.png");
}

.tree-212 {
	background-image: url("../img/212.png");
}

.tree-213 {
	background-image: url("../img/213.png");
}

.tree-214 {
	background-image: url("../img/214.png");
}

.tree-215 {
	background-image: url("../img/215.png");
}

.tree-216 {
	background-image: url("../img/216.png");
}

.tree-217 {
	background-image: url("../img/217.png");
}

.tree-218 {
	background-image: url("../img/218.png");
}

.building-301 {
  background-image: url("../img/301.png");
}

.building-302 {
  background-image: url("../img/302.png");
}

.building-303 {
  background-image: url("../img/303.png");
}

.building-304 {
  background-image: url("../img/304.png");
}

.building-305 {
  background-image: url("../img/305.png");
}

.building-306 {
  background-image: url("../img/306.png");
}

.building-307 {
  background-image: url("../img/307.png");
}

.building-308 {
  background-image: url("../img/308.png");
}

.building-309 {
  background-image: url("../img/309.png");
}

.building-310 {
  background-image: url("../img/310.png");
}

.building-311 {
  background-image: url("../img/311.png");
}

.building-312 {
  background-image: url("../img/312.png");
}

.building-313 {
  background-image: url("../img/313.png");
}

.building-314 {
  background-image: url("../img/314.png");
}

.building-315 {
  background-image: url("../img/315.png");
}

.building-316 {
  background-image: url("../img/316.png");
}

.building-317 {
  background-image: url("../img/317.png");
}

.building-318 {
  background-image: url("../img/318.png");
}

.building-319 {
  background-image: url("../img/319.png");
}

.building-320 {
  background-image: url("../img/320.png");
}

.building-321 {
  background-image: url("../img/321.png");
}

.building-322 {
  background-image: url("../img/322.png");
}

.building-323 {
  background-image: url("../img/323.png");
}

.building-324 {
  background-image: url("../img/324.png");
}

.building-325 {
  background-image: url("../img/325.png");
}

.building-326 {
  background-image: url("../img/326.png");
}

.building-327 {
  background-image: url("../img/327.png");
}

.building-328 {
  background-image: url("../img/328.png");
}

.building-329 {
  background-image: url("../img/329.png");
}

.building-330 {
  background-image: url("../img/330.png");
}

.building-331 {
  background-image: url("../img/331.png");
}

.building-332 {
  background-image: url("../img/332.png");
}

.building-333 {
  background-image: url("../img/333.png");
}

.building-334 {
  background-image: url("../img/334.png");
}

.building-335 {
  background-image: url("../img/335.png");
}

.building-336 {
  background-image: url("../img/336.png");
}

.building-337 {
  background-image: url("../img/337.png");
}

.building-338 {
  background-image: url("../img/338.png");
}

.building-339 {
  background-image: url("../img/339.png");
}

.building-340 {
  background-image: url("../img/340.png");
}

.building-341 {
  background-image: url("../img/341.png");
}

.building-342 {
  background-image: url("../img/342.png");
}

.building-343 {
  background-image: url("../img/343.png");
}

.building-344 {
  background-image: url("../img/344.png");
}

.building-345 {
  background-image: url("../img/345.png");
}

.building-346 {
  background-image: url("../img/346.png");
}

.building-347 {
  background-image: url("../img/347.png");
}

.building-348 {
  background-image: url("../img/348.png");
}

.building-349 {
  background-image: url("../img/349.png");
}

.building-350 {
  background-image: url("../img/350.png");
}

.building-351 {
  background-image: url("../img/351.png");
}

.building-352 {
  background-image: url("../img/352.png");
}

.building-353 {
  background-image: url("../img/353.png");
}

.building-354 {
  background-image: url("../img/354.png");
}

.building-355 {
  background-image: url("../img/355.png");
}

.building-356 {
  background-image: url("../img/356.png");
}

.building-357 {
  background-image: url("../img/357.png");
}

.building-358 {
  background-image: url("../img/358.png");
}

.building-359 {
  background-image: url("../img/359.png");
}

.building-360 {
  background-image: url("../img/360.png");
}

.building-361 {
  background-image: url("../img/361.png");
}

.building-362 {
  background-image: url("../img/362.png");
}

.building-363 {
  background-image: url("../img/363.png");
}

.building-364 {
  background-image: url("../img/364.png");
}

.building-365 {
  background-image: url("../img/365.png");
}

.building-366 {
  background-image: url("../img/366.png");
}

.roof-401 {
  background-image: url("../img/401.png");
}

.roof-402 {
  background-image: url("../img/402.png");
}

.roof-403 {
  background-image: url("../img/403.png");
}

.roof-404 {
  background-image: url("../img/404.png");
}

.roof-405 {
  background-image: url("../img/405.png");
}

.roof-406 {
  background-image: url("../img/406.png");
}

.roof-407 {
  background-image: url("../img/407.png");
}

.roof-408 {
  background-image: url("../img/408.png");
}

.roof-409 {
  background-image: url("../img/409.png");
}

.roof-410 {
  background-image: url("../img/410.png");
}

.roof-411 {
  background-image: url("../img/411.png");
}

.roof-412 {
  background-image: url("../img/412.png");
}

.roof-413 {
  background-image: url("../img/413.png");
}

.roof-414 {
  background-image: url("../img/414.png");
}

.roof-415 {
  background-image: url("../img/415.png");
}

.roof-416 {
  background-image: url("../img/416.png");
}

.roof-417 {
  background-image: url("../img/417.png");
}

.roof-418 {
  background-image: url("../img/418.png");
}

.roof-419 {
  background-image: url("../img/419.png");
}

.roof-420 {
  background-image: url("../img/420.png");
}

.roof-421 {
  background-image: url("../img/421.png");
}

.roof-422 {
  background-image: url("../img/422.png");
}

.roof-423 {
  background-image: url("../img/423.png");
}

.roof-424 {
  background-image: url("../img/424.png");
}

.roof-425 {
  background-image: url("../img/425.png");
}

.roof-426 {
  background-image: url("../img/426.png");
}

.roof-427 {
  background-image: url("../img/427.png");
}

.roof-428 {
  background-image: url("../img/428.png");
}

.roof-429 {
  background-image: url("../img/429.png");
}

.roof-430 {
  background-image: url("../img/430.png");
}

.roof-431 {
  background-image: url("../img/431.png");
}

.roof-432 {
  background-image: url("../img/432.png");
}

.roof-433 {
  background-image: url("../img/433.png");
}

.roof-434 {
  background-image: url("../img/434.png");
}

.roof-435 {
  background-image: url("../img/435.png");
}

.roof-436 {
  background-image: url("../img/436.png");
}

.roof-437 {
  background-image: url("../img/437.png");
}

.roof-438 {
  background-image: url("../img/438.png");
}

.roof-439 {
  background-image: url("../img/439.png");
}

.roof-440 {
  background-image: url("../img/440.png");
}

.roof-441 {
  background-image: url("../img/441.png");
}

.roof-442 {
  background-image: url("../img/442.png");
}

.misc-501 {
  background-image: url("../img/501.png");
}

.misc-502 {
  background-image: url("../img/502.png");
}

.misc-503 {
  background-image: url("../img/503.png");
}

.misc-504 {
  background-image: url("../img/504.png");
}

.misc-505 {
  background-image: url("../img/505.png");
}

.misc-506 {
  background-image: url("../img/506.png");
}

.misc-507 {
  background-image: url("../img/507.png");
}

.misc-508 {
  background-image: url("../img/508.png");
}

.misc-509 {
  background-image: url("../img/509.png");
}

.misc-510 {
  background-image: url("../img/510.png");
}

.misc-511 {
  background-image: url("../img/511.png");
}

.misc-512 {
  background-image: url("../img/512.png");
}

.misc-513 {
  background-image: url("../img/513.png");
}

.misc-514 {
  background-image: url("../img/514.png");
}

.misc-515 {
  background-image: url("../img/515.png");
}

.misc-516 {
  background-image: url("../img/516.png");
}

.misc-517 {
  background-image: url("../img/517.png");
}

.misc-518 {
  background-image: url("../img/518.png");
}

.misc-519 {
  background-image: url("../img/519.png");
}

.misc-520 {
  background-image: url("../img/520.png");
}

.misc-521 {
  background-image: url("../img/521.png");
}

.misc-522 {
  background-image: url("../img/522.png");
}

.misc-523 {
  background-image: url("../img/523.png");
}

.misc-524 {
  background-image: url("../img/524.png");
}

.misc-525 {
  background-image: url("../img/525.png");
}

.misc-526 {
  background-image: url("../img/526.png");
}

.misc-527 {
  background-image: url("../img/527.png");
}

.misc-528 {
  background-image: url("../img/528.png");
}

.misc-529 {
  background-image: url("../img/529.png");
}

.misc-530 {
  background-image: url("../img/530.png");
}

.misc-531 {
  background-image: url("../img/531.png");
}

.misc-532 {
  background-image: url("../img/532.png");
}

.misc-533 {
  background-image: url("../img/533.png");
}

.misc-534 {
  background-image: url("../img/534.png");
}

.misc-535 {
  background-image: url("../img/535.png");
}

.misc-536 {
  background-image: url("../img/536.png");
}

.misc-537 {
  background-image: url("../img/537.png");
}

.misc-538 {
  background-image: url("../img/538.png");
}

.misc-539 {
  background-image: url("../img/539.png");
}

.misc-540 {
  background-image: url("../img/540.png");
}

.misc-541 {
  background-image: url("../img/541.png");
}

.misc-542 {
  background-image: url("../img/542.png");
}

.misc-543 {
  background-image: url("../img/543.png");
}

.misc-544 {
  background-image: url("../img/544.png");
}

.misc-545 {
  background-image: url("../img/545.png");
}

.misc-546 {
  background-image: url("../img/546.png");
}

.misc-547 {
  background-image: url("../img/547.png");
}

.misc-548 {
  background-image: url("../img/548.png");
}

.misc-549 {
  background-image: url("../img/549.png");
}

.misc-550 {
  background-image: url("../img/550.png");
}

.misc-551 {
  background-image: url("../img/551.png");
}

.misc-552 {
  background-image: url("../img/552.png");
}

.misc-553 {
  background-image: url("../img/553.png");
}

.misc-554 {
  background-image: url("../img/554.png");
}

.misc-555 {
  background-image: url("../img/555.png");
}

.misc-556 {
  background-image: url("../img/556.png");
}

.misc-557 {
  background-image: url("../img/557.png");
}

.misc-558 {
  background-image: url("../img/558.png");
}

.misc-559 {
  background-image: url("../img/559.png");
}

.misc-560 {
  background-image: url("../img/560.png");
}

.misc-561 {
  background-image: url("../img/561.png");
}

.misc-562 {
  background-image: url("../img/562.png");
}

.npc {
  position: absolute;
  border: 1px solid black;
  box-sizing: border-box;
  background-position-y: -141px;
  background-position-x: -6px;
}

.name {
  position: absolute;
  color: #fff;
  text-shadow: 0px 0px 2px black;
  text-align: center;
  top: -20px;
  font-family: Arial;
  transform: translateX(-50%);
  margin-left: 50%;
  width: 200%;
  font-size: 12px;
}

.character--selected {
  border-color: red;
}

.player {
  position: absolute;
  border: 1px solid black;
  box-sizing: border-box;
  background-position-y: -141px;
  background-position-x: -6px;
}

.player--walk {
  animation: characterWalk .7s infinite step-end;
}

.player--walk-up {
  background-position-y: -525px;
}

.player--walk-left {
  background-position-y: -591px;
}

.player--walk-down {
  background-position-y: -652px;
}

.player--walk-right {
  background-position-y: -718px;
}

@keyframes characterWalk {
  0% {
    background-position-x: -6px;
  }
  11% {
    background-position-x: -70px;
  }
  22% {
    background-position-x: -134px;
  }
  33% {
    background-position-x: -198px;
  }
  44% {
    background-position-x: -262px;
  }
  55% {
    background-position-x: -326px;
  }
  66% {
    background-position-x: -390px;
  }
  77% {
    background-position-x: -454px;
  }
  88% {
    background-position-x: -518px;
  }
}